<div layout="column" layout-fill>

  <header>
    <div md-whiteframe="2">
      <div layout="row" layout-align="center center" flex>
        <h2 class="md-toolbar-tools">whatamessenger.io/{{roomKey}}</h2>
        <md-button ngclipboard data-clipboard-text="{{link}}" class="md-primary md-raised md-hue-1">Copy link</md-button>
      </div>
    </div>
  </header>

  <main flex class="main" scroll-glue>
    <ul layout-padding>
      <li ng-repeat="message in messages" class="message-wrapper" ng-class="{'me': message.color === myColor, 'them': message.color !== myColor}">
        <div class="circle-wrapper" ng-style="{'background-color': message.color}"></div>
        <div class="text-wrapper" ng-style="{'background-color': message.color}">
          <div class="triangle" ng-style="{'border-right-color': message.color !== myColor && message.color, 'border-top-color': message.color === myColor && message.color}"></div>
          <span ng-bind="::message.message"></span>
        </div>
      </li>
    </ul>
  </main>

  <footer>
    <div layout-padding md-whiteframe="2"> 
      <div layout="row" flex>
        <form ng-submit="sendMessage()" class="width-1">
          <md-input-container md-no-float class="md-block chat-input-container">
            <input ng-model="messageInput" id="mi" ng-init="setFocus()" placeholder="Type your message here">
            <div class="hint">Press enter to send</div>
          </md-input-container>
        </form>
      </div>
    </div>
  </footer>

</div>
